html,
body {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
  background-image: url("https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-3/background.jpg");
  background-size: cover;
  margin: 0;
}

.title {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 2rem;
  color: #819839;
}

header {
  border: solid 2px #819839;
}

.tundra-description {
  text-align: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #881122;
  font-style: italic;
  font-size: 1.5rem;
}

ul {
  text-align: center;

  font-size: 1rem;
}

li,
a {
  text-align: center;
  text-decoration: none;
  font-size: 1rem;
}

.gallery {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.gallery-item {
  margin: 20px;
}

.gallery-item .thumbnail {
  border: 5px solid #fff;
}

nav {
  background-color: #fff;
}

nav li {
  display: inline;
  margin: 0;
  padding: 0 20px;
}

nav ul {
  display: inline;
}

nav a {
  height: 60px;
  line-height: 60px;
  color: black;
  text-decoration: none;
}

.contact-btn {
  float: right;
}

.contact-btn{
    position: relative;
    padding-left: 20px;
}


.contact-btn a:active {
  top: 2px;
}
